@model MinisterFormModel
@{
    ViewData["Title"] = "Minister Master";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    var rightsModel = Functions.GetPageRightsCheck(Context.Session);
}

@section DataTableCssLoad {}
@section DataTableJsLoad {}
@section CkEditorJsLoad {}
@section Scripts {
    <script src="@Href("~/Admin/js/pagedetails/MinisterMaster/MinisterMaster.js?dt="+DateTime.Now.ToString("ddMMyyyyfffttfff"))"></script>
}

@section Modals {
    <div id="addeditMinisterModal" class="modal fade" tabindex="-1" aria-labelledby="mdlLabel" style="display: none;">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header bg-light p-3">
                    <h5 class="modal-title" id="mdlLabel">Minister Form</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="addeditMinisterForm" action="@Url.Content("~/Admin/SaveMinisterData")" autocomplete="off">
                        @Html.AntiForgeryToken()
                        <input type="hidden" asp-for="Id" value="0" />
                        <input type="hidden" asp-for="ImagePath" value="" />
                        <div class="row gx-3 gy-2">
                            <div class="col-md-4">
                                <label asp-for="LanguageId" class="form-label">Language<span style="color:red">*</span></label>
                                <select class="form-select" asp-for="LanguageId">
                                    <option value="">--Select Language--</option>
                                </select>
                                <span asp-validation-for="LanguageId" class="text-danger"></span>
                            </div>
                            <div class="col-md-4">
                                <label asp-for="MinisterName" class="form-label">Minister Name<span style="color:red">*</span></label>
                                <input type="text" asp-for="MinisterName" class="form-control" placeholder="Enter Minister Name">
                                <span asp-validation-for="MinisterName" class="text-danger"></span>
                            </div>
                            <div class="col-md-12">
                                <label asp-for="MinisterDescription" class="form-label">Minister Details<span style="color:red">*</span></label>
                                <textarea rows="5" cols="12" asp-for="MinisterDescription" class="form-control" placeholder="Enter Minister Details"></textarea>
                                <span asp-validation-for="MinisterDescription" class="text-danger"></span>
                                <script type="text/javascript">
                                    CKEDITOR.dtd.$removeEmpty['i'] = false;
                                    var editor = CKEDITOR.replace('MinisterDescription', {
                                        extraPlugins: 'tableresize'
                                    });
                                </script>
                            </div>
                            <div class="col-md-6">
                                <label asp-for="MinisterImage" class="form-label">Minister Image<span style="color:red">*</span></label>
                                <div class="input-group">
                                    <input type="file" class="form-control" asp-for="MinisterImage" aria-label="Upload" accept="image/*">
                                    <a class="input-group-text" href="#" title="View" target="_Target" id="ViewfileIF"><i class="ri-eye-fill align-bottom me-2 text-muted"></i></a>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label asp-for="IsActive" class="form-label">Status</label>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" asp-for="IsActive" />
                                    <label class="form-check-label" for="IsActive">Is Active</label>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="addeditMinisterSubmit">Save</button>
                </div>
            </div>
        </div>
    </div>
}

<input type="hidden" id="frmPageUpdate" value="@rightsModel.Update.ToString().ToLower()" />
<input type="hidden" id="frmPageDelete" value="@rightsModel.Delete.ToString().ToLower()" />
<input type="hidden" id="frmPageView" value="@rightsModel.View.ToString().ToLower()" />

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header border-bottom-dashed">
                <div class="row g-4 align-items-center">
                    <div class="col-sm">
                        <div>
                            <h5 class="card-title mb-0">Minister List</h5>
                        </div>
                    </div>
                    <div class="col-sm-auto">
                        <div class="d-flex flex-wrap align-items-start gap-2">
                            @if (rightsModel.Insert)
                            {
                                <button type="button" class="btn btn-success add-btn" id="addMinister"><i class="ri-add-line align-bottom me-1"></i> Add New @ViewData["Title"]</button>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table class="table table-striped table-bordered scroll-horizontal w-100 text-center nowrap dataTable no-footer" id="datatableMinister" data-url="@Url.Content("~/Admin/GetMinisterData")">
                    <thead class="table-light">
                        <tr class="text-uppercase">
                            <th>#</th>
                            <th>Minister Name</th>
                            <th>Minister Desc</th>
                            <th>Is Active</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>