@model DocumentFormModel
@{
    ViewData["Title"] = "Document Master";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    var rightsModel = Functions.GetPageRightsCheck(Context.Session);
}

@section DataTableCssLoad {}
@section DataTableJsLoad {}
@section Scripts {
    <script src="@Href("~/Admin/js/PageDetails/Document/DocumentMaster.js?dt="+DateTime.Now.ToString("ddMMyyyyfffttfff"))"></script>
}

@section Modals {
    <div id="addeditDocumentModal" class="modal fade" tabindex="-1" aria-labelledby="mdlLabel" style="display: none;">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header bg-light p-3">
                    <h5 class="modal-title" id="mdlLabel">Document Document Form</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="addeditDocumentForm" action="@Url.Content("~/Admin/SaveDocumentMasterData")" autocomplete="off">
                        @Html.AntiForgeryToken()
                        <input type="hidden" asp-for="Doc_Id" value="0" />
                        <div class="row gx-3 gy-2">
                            <div class="col-md-4">
                                <label asp-for="LanguageId" class="form-label">Language<span style="color:red">*</span></label>
                                <select class="form-select" asp-for="LanguageId">
                                    <option value="1">English</option>
                                </select>
                                <span asp-validation-for="LanguageId" class="text-danger"></span>
                            </div>
                            <div class="col-md-6">
                                <label asp-for="Doc_Name" class="form-label">Document Name<span style="color:red">*</span></label>
                                <input type="text" asp-for="Doc_Name" class="form-control" placeholder="Enter Document Name">
                                <span asp-validation-for="Doc_Name" class="text-danger"></span>
                            </div>
                            <div class="col-md-6">
                                <label asp-for="CouchFile" class="form-label">Document<span style="color:red">*</span></label>
                                <div class="input-group">
                                    <input type="file" class="form-control" asp-for="CouchFile" aria-label="Upload" accept="image/*">
                                    <a class="input-group-text" href="#" title="View" target="_Target" id="ViewfileIF"><i class="ri-eye-fill align-bottom me-2 text-muted"></i></a>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label asp-for="IsActive" class="form-label">Status</label>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" asp-for="IsActive" />
                                    <label class="form-check-label" for="IsActive">Is Active</label>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="addeditDocumentSubmit">Save</button>
                </div>
            </div>
        </div>
    </div>
}

<input type="hidden" id="frmPageUpdate" value="@rightsModel.Update.ToString().ToLower()" />
<input type="hidden" id="frmPageDelete" value="@rightsModel.Delete.ToString().ToLower()" />
<input type="hidden" id="frmPageView" value="@rightsModel.View.ToString().ToLower()" />

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header border-bottom-dashed">
                <div class="row g-4 align-items-center">
                    <div class="col-sm">
                        <div>
                            <h5 class="card-title mb-0">Upload Document</h5>
                        </div>
                    </div>
                    <div class="col-sm-auto">
                        <div class="d-flex flex-wrap align-items-start gap-2">
                            @if (rightsModel.Insert)
                            {
                                <button type="button" class="btn btn-success add-btn" id="addDocument"><i class="ri-add-line align-bottom me-1"></i> Add New @ViewData["Title"]</button>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table class="table table-striped table-bordered scroll-horizontal w-100 text-center nowrap dataTable no-footer" id="datatableDocument" data-url="@Url.Content("~/Admin/GetDocumentMasterData")">
                    <thead class="table-light">
                        <tr class="text-uppercase">
                            <th>#</th>
                            <th>Document Name</th>                                                                                        
                            <th>File Name</th>                                           
                            <th>Is Active</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
