@model JsMasterFormModel
@{
    ViewData["Title"] = "Js Master";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    var rightsModel = Functions.GetPageRightsCheck(Context.Session);
}

@section DataTableCssLoad {}
@section DataTableJsLoad {}
@section Styles {
    <link rel="stylesheet" href="@Href("~/Admin/libs/codemirror/css/codemirror.min.css")">
    <link rel="stylesheet" href="@Href("~/Admin/libs/codemirror/css/monokai.min.css")">
    <link rel="stylesheet" href="@Href("~/Admin/libs/codemirror/css/lint.min.css")">
    <link rel="stylesheet" href="@Href("~/Admin/libs/codemirror/css/foldgutter.min.css")">
    <link rel="stylesheet" href="@Href("~/Admin/libs/codemirror/css/show-hint.min.css")">
}
@section Scripts {
    <script src="@Href("~/Admin/libs/codemirror/js/codemirror.min.js")"></script>
    <script src="@Href("~/Admin/libs/codemirror/js/javascript.min.js")"></script>
    <script src="@Href("~/Admin/libs/codemirror/js/lint.min.js")"></script>
    <script src="@Href("~/Admin/libs/codemirror/js/javascript-lint.min.js")"></script>
    <script src="@Href("~/Admin/libs/codemirror/js/closetag.min.js")"></script>
    <script src="@Href("~/Admin/libs/codemirror/js/foldcode.min.js")"></script>
    <script src="@Href("~/Admin/libs/codemirror/js/foldgutter.min.js")"></script>
    <script src="@Href("~/Admin/libs/codemirror/js/brace-fold.min.js")"></script>
    <script src="@Href("~/Admin/libs/codemirror/js/show-hint.min.js")"></script>
    <script src="@Href("~/Admin/libs/codemirror/js/javascript-hint.min.js")"></script>
    <script src="@Href("~/Admin/js/PageDetails/JsMaster/JsMaster.js?dt="+DateTime.Now.ToString("ddMMyyyyfffttfff"))"></script>
}

@section Modals {
    <div id="addeditJsModal" class="modal fade" tabindex="-1" aria-labelledby="mdlLabel" style="display: none;">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header bg-light p-3">
                    <h5 class="modal-title" id="mdlLabel">Js Form</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="addeditJsForm" action="@Url.Content("~/Admin/SaveJsData")" autocomplete="off">
                        @Html.AntiForgeryToken()
                        <input type="hidden" asp-for="Id" value="0" />
                        <div class="row gx-3 gy-2">
                            <div class="col-md-6">
                                <label asp-for="Title" class="form-label">Js Name<span style="color:red">*</span></label>
                                <input type="text" asp-for="Title" class="form-control" placeholder="Enter Title">
                                <span asp-for="title" class="text-danger"></span>
                            </div>
                            <div class="col-md-12">
                                <label asp-for="Jsfile" class="form-label">Js<span style="color:red">*</span></label>
                                <textarea rows="5" asp-for="Jsfile" cols="12" class="form-control" placeholder="Enter Doc Details"></textarea>
                                <span for="DocDetails" class="text-danger"></span>
                            </div>
                            <div class="col-md-4">
                                <label asp-for="IsActive" class="form-label">Status</label>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" asp-for="IsActive" />
                                    <label class="form-check-label" for="IsActive">Is Active</label>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="addeditJsSubmit">Save</button>
                </div>
            </div>
        </div>
    </div>
}

<input type="hidden" id="frmPageUpdate" value="@rightsModel.Update.ToString().ToLower()" />
<input type="hidden" id="frmPageDelete" value="@rightsModel.Delete.ToString().ToLower()" />
<input type="hidden" id="frmPageView" value="@rightsModel.View.ToString().ToLower()" />

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header border-bottom-dashed">
                <div class="row g-4 align-items-center">
                    <div class="col-sm">
                        <div>
                            <h5 class="card-title mb-0">Js List</h5>
                        </div>
                    </div>
                    <div class="col-sm-auto">
                        <div class="d-flex flex-wrap align-items-start gap-2">
                            @if (rightsModel.Insert)
                            {
                                <button type="button" class="btn btn-success add-btn" id="addJs"><i class="ri-add-line align-bottom me-1"></i> Add New Js</button>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table class="table table-striped table-bordered scroll-horizontal w-100 text-center nowrap dataTable no-footer" id="datatableJs" data-url="@Url.Content("~/Admin/GetJsData")">
                    <thead class="table-light">
                        <tr class="text-uppercase">
                            <th>#</th>
                            <th>Title</th>
                            <th>IsActive</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>