@model JsMasterFormModel
@{
    ViewData["Title"] = "Js Master";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var rightsModel = Functions.GetPageRightsCheck(Context.Session);
}

@section Styles {
<style>
    .modal-dialog {
        max-width: 1007px;
    }

</style>
}

<section class="basic-elements">
    <div class="row">

        <input type="hidden" id="frmPageUpdate" value="@rightsModel.Update.ToString().ToLower()" />
        <input type="hidden" id="frmPageDelete" value="@rightsModel.Delete.ToString().ToLower()" />
        <input type="hidden" id="frmPageView" value="@rightsModel.View.ToString().ToLower()" />

        <div class="col-md-12">
            <div class="card card-outline-primary">
                <div class="card-body collapse show">
                    <div class="card-block card-dashboard">
                        <div class="row">
                            <div class="col-md-12 text-right">
                                @if (rightsModel.Insert)
                                {
                                    <button type="button" class="btn btn-outline-primary btn-round mr-2" id="btnAddNew">
                                        <i class="fa fa-plus mr-1"></i>Add New @ViewData["Title"]
                                    </button>
                                }
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table display nowrap table-striped table-bordered scroll-horizontal text-center nowrap dataTable no-footer w-100 table-responsive" id="tbldata">
                                    <thead>
                                        <tr>
                                            <th>Actions</th>
                                            <th>IsActive</th>
                                            <th>Title</th>
                                            <th>Js File</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {

<script src="@Href("~/Admin/js/PageDetails/JsMaster/JsMaster.js?dt="+DateTime.Now.ToString("ddMMyyyyfffttfff"))"></script>

<!-- Modal -->
<div class="modal fade text-left" id="mdlAddNew" role="dialog" aria-labelledby="myModalLabel9" aria-hidden="true">
    <div class="modal-dialog" role="document">
       
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h4 class="modal-title text-white" id="myModalLabel9"> @ViewData["Title"] Form</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                 <form id="jsfrmAddEdit" autocomplete="off" >
                 @Html.AntiForgeryToken()
                 <input type="hidden" asp-for="Id" />
                    <div class="card-block">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active show" id="base-tab1" data-toggle="tab" aria-controls="tab1" href="#tab1" aria-expanded="true">Js Details</a>
                        </li> 
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active show" aria-expanded="true" aria-labelledby="base-tabX1">
                             <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="Title" class="control-label">Js Title</label>
                                    <input type="text" asp-for="Title" class="form-control border-primary" placeholder="Enter Title">
                                    <span asp-for="title" class="text-danger"></span>
                                </div>
                             </div>
                             <div class="col-md-12">
                                <div class="form-group">
                                    <label asp-for="Jsfile" class="control-label">Descriptions</label>
                                    <textarea rows="5" asp-for="Jsfile" cols="12" class="form-control border-primary" placeholder="Enter Doc Details"></textarea>
                                    <span for="DocDetails" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-4 mt-1">
                                <div class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
                                    <br />
                                    <input type="checkbox" class="custom-control-input" asp-for="IsActive"/>
                                    <label class="custom-control-label float-left" asp-for="IsActive">Is Active</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary btn-round" id="btnMdlSaveFinal"><i class="fa fa-check mr-1"></i>Submit</button>
                <button type="button" class="btn grey btn-outline-secondary btn-round" data-dismiss="modal"><i class="fa fa-times mr-1"></i>Close</button>
            </div>
        </div>
    </div>
</div>

}