@model ChangeMyProfileModel
@inject IHttpContextAccessor HttpContextAccessor;
@using System.Text.Json;
@{
    ViewData["Title"] = "Change Profile";
    ViewData["HideBreadcrumb"] = true;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";

    SessionUserModel UserModel = new SessionUserModel();
    try
    {
        UserModel = (HttpContextAccessor.HttpContext.Session.Get("UserDetails") == null ? default(SessionUserModel) :
        JsonSerializer.Deserialize<SessionUserModel>(HttpContextAccessor.HttpContext.Session.Get("UserDetails")));
        if (UserModel == null)
        {
            Context.Response.Redirect("/Account/Index");
        }
        else if (UserModel.Id <= 0)
        {
            Context.Response.Redirect("/Account/Index");
        }
        else if (UserModel != null)
        {
            if (UserModel.IsPasswordReset && Context.Request.Path.Value.ToString() != "/Home/ChangePassword")
            {
                Context.Response.Redirect("/Home/ChangePassword");
            }
        }
    }
    catch
    {
        Context.Response.Redirect("/Account/Index");
    }
}

@section Styles {
    <link href="@Href("~/Admin/libs/croppie/css/croppie.min.css")" rel="stylesheet" type="text/css" />
    <style>
        #upload-demo {
            width: 250px;
            height: 250px;
            padding-bottom: 25px;
        }
    </style>
}

@section Scripts {
    <script src="@Href("~/Admin/libs/croppie/js/croppie.min.js")"></script>
    <script src="@Href("~/Admin/js/PageDetails/ChangeProfile/ChangeProfile.js?dt="+DateTime.Now.ToString("ddMMyyyyfffttfff"))"></script>
}

@section Modals {
    <div id="cropImagePop" class="modal fade" tabindex="-1" aria-labelledby="mdlLabel" style="display: none;">
        <div class="modal-dialog modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header bg-light p-3">
                    <h5 class="modal-title" id="mdlLabel">Admin Menu Form</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="d-flex justify-content-center">
                        <div id="upload-demo" class="center-block"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="cropImageBtn">Crop and Save</button>
                </div>
            </div>
        </div>
    </div>
}

<div class="position-relative mx-n4 mt-n4">
    <div class="profile-wid-bg profile-setting-img">
        <img src="@Href("~/Admin/images/profile-bg.jpg")" class="profile-wid-img" alt="">
        <div class="overlay-content">
            <div class="text-end p-3">
                <div class="p-0 ms-auto rounded-circle profile-photo-edit">
                    <input id="profile-foreground-img-file-input" type="file" class="profile-foreground-img-file-input">
                    @* <label for="profile-foreground-img-file-input" class="profile-photo-edit btn btn-light">
                        <i class="ri-image-edit-line align-bottom me-1"></i> Change Cover
                    </label> *@
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xxl-3">
        <div class="card mt-n5">
            <div class="card-body p-4">
                <div class="text-center">
                    <div class="profile-user position-relative d-inline-block mx-auto  mb-4">
                        @{
                            var fullName = $"{UserModel?.FirstName ?? ""} {UserModel?.LastName ?? ""}".Trim();
                            var phoneNo = UserModel?.PhoneNo ?? "N/A";
                            var email = UserModel?.Email ?? "N/A";
                            var profileImage = string.IsNullOrWhiteSpace(UserModel?.ProfilePic)
                            ? Href("~/Admin/images/default-pfp.png")
                            : UserModel.ProfilePic;
                        }
                        <img src="@profileImage" class="rounded-circle avatar-xl img-thumbnail user-profile-image preview-profile-image" alt="@(!string.IsNullOrWhiteSpace(fullName) ? fullName : "User")">
                        <input type="file" id="h_file" class="item-img file center-block" accept="image/png, image/jpg, image/jpeg, image/svg" style="display: none;" />
                        <div class="avatar-xs p-0 rounded-circle profile-photo-edit" id="select_image">
                            <input type="hidden" name="profile_photo" class="profile_photo">
                            
                            <label for="profile-img-file-input" class="profile-photo-edit avatar-xs">
                                <span class="avatar-title rounded-circle bg-light text-body">
                                    <i class="ri-camera-fill"></i>
                                </span>
                            </label>
                        </div>
                    </div>
                    <h5 class="fs-16 mb-1">@(!string.IsNullOrWhiteSpace(fullName) ? fullName : "User")</h5>
                    <p class="text-muted mb-0">@phoneNo</p>
                    <p class="text-muted mb-0">@email</p>

                </div>
            </div>
        </div>
    </div>
    <!--end col-->
    <div class="col-xxl-9">
        <div class="card mt-xxl-n5">
            <div class="card-header">
                <ul class="nav nav-tabs-custom rounded card-header-tabs border-bottom-0" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" asp-action="ChangeMyProfile" asp-area="Admin" asp-controller="Home">
                            <i class="fas fa-home"></i> Personal Details
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-action="ChangePassword" asp-area="Admin" asp-controller="Home">
                            <i class="far fa-user"></i> Change Password
                        </a>
                    </li>
                </ul>
            </div>
            <div class="card-body p-4">
                <form asp-action="ChangeMyProfile" asp-area="Admin" asp-controller="Home" autocomplete="off">
                    @Html.AntiForgeryToken()
                    <div class="row gx-3 gy-2">
                        <div class="col-md-6">
                            <label asp-for="FirstName" class="form-label">First Name<span style="color:red">*</span></label>
                            <input type="text" asp-for="FirstName" class="form-control" placeholder="First Name" />
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                        <div class="col-md-6">
                            <label asp-for="LastName" class="form-label">Last Name<span style="color:red">*</span></label>
                            <input type="text" asp-for="LastName" class="form-control" placeholder="Last Name" />
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                        <div class="col-md-6">
                            <label asp-for="Email" class="form-label">E-mail<span style="color:red">*</span></label>
                            <input type="text" asp-for="Email" class="form-control" placeholder="Email" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="col-md-6">
                            <label asp-for="PhoneNo" class="form-label">Contact Number<span style="color:red">*</span></label>
                            <input type="text" asp-for="PhoneNo" class="form-control" placeholder="Phone No" />
                            <span asp-validation-for="PhoneNo" class="text-danger"></span>
                        </div>
                        <div class="col-md-6">
                            <label asp-for="UserName" class="form-label">User Name</label>
                            <input type="text" asp-for="UserName" class="form-control" readonly="readonly" placeholder="UserName" />
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>
                        <div class="col-lg-12">
                            <div class="hstack gap-2 justify-content-end">
                                <button type="submit" class="btn btn-primary">Save</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--end col-->
</div>