@model StatisticFormModel
@{
    ViewData["Title"] = "Statistic Master";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";

    var rightsModel = Functions.GetPageRightsCheck(Context.Session);
}
@section Styles {
    <style>
        .modal-dialog {
            max-width: 1007px;
        }

    </style>
}
<section class="basic-elements">
    <div class="row">

        <input type="hidden" id="frmPageUpdate" value="@rightsModel.Update.ToString().ToLower()" />
        <input type="hidden" id="frmPageDelete" value="@rightsModel.Delete.ToString().ToLower()" />
        <input type="hidden" id="frmPageView" value="@rightsModel.View.ToString().ToLower()" />

        <div class="col-md-12">
            <div class="card card-outline-primary">
                <div class="card-body collapse show">
                    <div class="card-block card-dashboard">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <select class="form-control" id="StatisticTypeFilter">
                                        <option value="">--Select Type--</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-9 text-right">
                                @if (rightsModel.Insert)
                                {
                                    <button type="button" class="btn btn-outline-primary btn-round mr-2" id="btnAddNew">
                                        <i class="fa fa-plus mr-1"></i>Add New @ViewData["Title"]
                                    </button>
                                }
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 table-responsive">
                                <table class="table display nowrap table-striped table-bordered scroll-horizontal w-100 text-center nowrap dataTable no-footer" id="tbldata">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Type</th>
                                            <th>Title</th>
                                            @* <th>URL</th> *@
                                            <th>Count</th>
                                            <th>Is Active</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    <script src="@Href("~/Admin/js/PageDetails/StatisticMaster/StatisticMaster.js?dt="+DateTime.Now.ToString("ddMMyyyyfffttfff"))"></script>
    <!-- Modal -->
    <div class="modal fade text-left" id="mdlAddNew" role="dialog" aria-labelledby="myModalLabel9" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <h4 class="modal-title text-white" id="myModalLabel9"> @ViewData["Title"] Form</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="frmAddEdit" autocomplete="off">
                        @Html.AntiForgeryToken()
                        <input type="hidden" asp-for="Id" value="0" />
                        <input type="hidden" asp-for="ImagePath" />
                        <div class="form-group mt-2">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label asp-for="LanguageId" class="control-label">Language<span style="color:red">*</span></label>
                                        <select class="form-control" asp-for="LanguageId">
                                            <option value="">--Select Language--</option>
                                        </select>
                                        <span asp-validation-for="LanguageId" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label asp-for="StatisticTypeId" class="control-label">Type<span style="color:red">*</span></label>
                                        <select class="form-control" asp-for="StatisticTypeId">
                                            <option value="">--Select Type--</option>
                                        </select>
                                        <span asp-validation-for="StatisticTypeId" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label asp-for="Title" class="control-label">Title<span style="color:red">*</span></label>
                                        <input type="text" asp-for="Title" class="form-control border-primary" placeholder="Enter Title">
                                        <span asp-validation-for="Title" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label asp-for="Count" class="control-label">Count<span style="color:red">*</span></label>
                                        <input type="text" asp-for="Count" class="form-control border-primary" placeholder="Enter Count" onpaste="return false">
                                        <span asp-validation-for="Count" class="text-danger"></span>
                                    </div>
                                </div>
                                @* <div class="col-md-4">
                                    <div class="form-group">
                                        <label asp-for="Url" class="control-label">Url<span style="color:red">*</span></label>
                                        <input type="text" asp-for="Url" class="form-control border-primary pickadate" placeholder="Enter URL">
                                        <span asp-validation-for="Url" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-4 mt-1">
                                    <div class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
                                        <label asp-for="LogoImage" class="control-label">Icon Images<span style="color:red">*</span></label>
                                        <input type="file" name="LogoImage" asp-for="LogoImage" accept="image/*"/>
                                    </div>
                                </div> *@
                                @* <div class="col-md-3">
                                    <label asp-for="LogoImage" class="control-label" visable="false">&nbsp;</label>
                                    <a class="btn mb-0 btn-outline-info btnedit" title="View" target="_Target" href="" id="ViewfileIF" style="width:fit-content;"><i class="fa fa-eye"></i></a>
                                </div> *@
                                <div class="col-md-3 mt-1">
                                    <div class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
                                        <br />
                                        <input type="checkbox" class="custom-control-input" asp-for="IsActive" />
                                        <label class="custom-control-label float-left" asp-for="IsActive">Is Active</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn grey btn-outline-secondary btn-round" data-dismiss="modal"><i class="fa fa-times mr-1"></i>Close</button>
                    <button type="button" class="btn btn-outline-primary btn-round" id="btnMdlSave"><i class="fa fa-check mr-1"></i>Save</button>
                </div>
            </div>
        </div>
    </div>
}
