<!doctype html>
<html class="no-js" lang="en">
@{
    @using Microsoft.AspNetCore.Http;
    @inject IHttpContextAccessor HttpContextAccessor;
    @using System.Text.Json;

    long LangId = 1;
    try
    {
        // Check if the session value for "LanguageId" is not null before deserializing
        var langIdSession = HttpContextAccessor.HttpContext.Session.Get("LanguageId");
        if (langIdSession != null)
        {
            LangId = JsonSerializer.Deserialize<long>(langIdSession);
        }
        else
        {
            // If session is null or empty, set default value
            Velzon.Common.SessionWrapper.Set<long>(HttpContextAccessor.HttpContext.Session, "LanguageId", 1);
            LangId = 1;
        }
    }
    catch (Exception ex)
    {
       
    }
}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Gujarat Mineral Research & Development Society</title>
    <meta name="robots" content="noindex, follow">
    <meta name="keywords" content="Gujarat Mineral Research & Development Society">
    <meta name="description" content="Gujarat Mineral Research & Development Society">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="@Href("~/Users/img/favicon.png")" type="image/x-icon">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="@Href("~/Users/css/bootstrap.min.css")">
    <link rel="stylesheet" href="@Href("~/Users/css/fontawesome.css")">
    <link rel="stylesheet" href="@Href("~/Users/css/flaticon.css")">
    <link rel="stylesheet" href="@Href("~/Users/css/pbminfotech-base-icons.css")">
    <link rel="stylesheet" href="@Href("~/Users/css/themify-icons.css")">
    <link rel="stylesheet" href="@Href("~/Users/css/owl.carousel.min.css")">
    <!-- Magnific -->
    <link rel="stylesheet" href="@Href("~/Users/css/jquery.fancybox.min.css")">
    @* <link rel="stylesheet" href="@Href("~/Users/css/shortcode.css")">  *@
    <link rel="stylesheet" href="@Href("~/Users/css/base.css")">
    <link rel="stylesheet" href="@Href("~/Users/css/swiper.min.css")">
    <link rel="stylesheet" href="@Href("~/Users/css/demo-1.css")">
    @* <link rel="stylesheet" href="@Href("~/Users/css/style.css")"> *@ 
    <link rel="stylesheet" href="@Href("~/Users/css/responsive.css")">
    @* <link rel="stylesheet" href="@Href("~/Users/css/custom.css")">  *@
    <link rel="stylesheet" type="text/css" href="@Href("~/Admin/vendors/css/sweetalert2.min.css?dt="+DateTime.Now.ToString("ddMMyyyyfffttfff"))">
    @{
        var getAllCssData = Functions.CSSMasterDomain(Url);
        if (!string.IsNullOrWhiteSpace(getAllCssData))
        {
            @Html.Raw(getAllCssData)
        }
    } 
    <script>
        var baseUrl = "@Url.Content("~/")";
    </script>
</head>

<body>
    <style>
        .preloader {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #fff;
            z-index: 20000;
            overflow-x: hidden !important;
            display: flex;
            align-items: center;
            justify-content: center
        }
        .preloader img {
            max-width: 80px
        }
    </style>
    <input id="lgLanguageId" value="@LangId" type="hidden" />

    <div class="preloader js-preloader">
        <img src="@Url.Content("~/Users/img/logo.png")" alt="Image">
    </div>

    <div class="page-wrapper">

        <!-- Header Main Area -->
        <header class="site-header header-style-1">
            <div class="header-wrapper">
                <div class="pre-header">
                    <div class="container">
                        <div class="pre-inner-head">
                            <div class="pbmit-pre-header-left">
                                <a href="/index">Welcome to Velzon</a>
                            </div>
                            <div class="pbmit-pre-header-left">
                                <i class="fa fa-forward"></i>
                                 <a href="#skipdata" id="Skiptomain">Skip to main Content</a>
                            </div>
                            <div class="pbmit-pre-header-right" id="dvHeader">
                                @* <ul class="pbmit-top-links">
                                    <li>
                                        <ul class="pbmit-social-links">
                                            <li class="pbmit-social-li pbmit-social-facebook ">
                                                <a href="#" target="_blank" title="Home">
                                                    <span>
                                                        <i class="fa fa-home"></i>
                                                    </span>
                                                </a>
                                            </li>
                                            <li class="pbmit-social-li pbmit-social-twitter ">
                                                <a href="#" target="_blank" title="Feedback">
                                                    <span>
                                                        <i class="fa fa-envelope"></i>
                                                    </span>
                                                </a>
                                            </li>
                                            <li class="pbmit-social-li pbmit-social-instagram ">
                                                <a href="#" target="_blank" title="Contact us">
                                                    <span>
                                                        <i class="fa fa-phone"></i>
                                                    </span>
                                                </a>
                                            </li>
                                            <li class="pbmit-social-li pbmit-social-youtube ">
                                                <a href="#" target="_blank" title="Sitemap">
                                                    <span>
                                                        <i class="fa fa-sitemap"></i>
                                                    </span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul> *@
                            </div>

                            <div class="pbmit-pre-header-right">
                                <div class="pbmit-header-search-btn">
                                    <a href="#"><i class="pbmit-base-icon-search"></i></a>
                                </div>
                            </div>
                            <div class="pbmit-pre-header-right">
                                <div class="side-nav">
                                    <div class="dropdown nav-flag-dropdown">
                                        <select class="goog-te-combo" id="langId">
                                            @* <option value="1">English</option>
                                            <option value="2">Gujarati</option> *@
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="headersub" id="bkMainLogo">
                    <div class="container">
                        <div class="d-flex align-items-center justify-content-between" id="dvMainLogo">
                            @* <div class="site-branding">
                                <a href="#">
                                    <img class="logo-img" src="images/header/logowithouttitle.png" alt="#">
                                </a>
                                <div class="logotitle">
                                    <h5>Gujarat Mineral Research & Development Soceity</h5>
                                    <p>
                                        Industries & Mines Department<br />Commisioner of
                                        Geology & Mining, Gandhinagar<br />Govt.of Gujarat
                                    </p>
                                </div>
                            </div>
                            <div class="pbmit-header-info d-flex align-items-center">

                                <a href="#" class="pbmit-btn pbmit-btn-outline loginbtn">
                                    <span>Login</span>
                                </a>
                            </div> *@
                        </div>
                    </div>
                </div>
                <div class="site-header-menu">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="navigation-top-wrapper">
                                    <div class="site-navigation">
                                        <nav class="main-menu navbar-expand-xl navbar-light">
                                            <div class="navbar-header">
                                                <!-- Toggle Button -->
                                                <button class="navbar-toggler" type="button">
                                                    <i class="pbmit-base-icon-menu-1"></i>
                                                </button>
                                            </div>
                                            <div class="pbmit-mobile-menu-bg"></div>
                                            <div class="collapse navbar-collapse clearfix show" id="pbmit-menu">
                                                <div class="pbmit-menu-wrap">
                                                    <span class="closepanel">
                                                        <i class="pbmit-base-icon-cancel"></i>
                                                    </span>
                                                    <ul class="navigation clearfix">
                                                        @{
                                                            var stringData = Functions.CreateMainUserLayoutMenu(Url, Context.Request.Path.Value.ToString(), LangId);
                                                            if (!string.IsNullOrWhiteSpace(stringData))
                                                            {
                                                                @Html.Raw(stringData)
                                                            }
                                                        }
                                                        @* <li class=" active"><a href="#">Home</a></li>
                                                        <li class="dropdown">
                                                            <a href="#">About Us</a>
                                                            <ul>
                                                                <li><a href="#">Introduction</a></li>
                                                                <li><a href="#">Mission & Vision</a></li>
                                                                <li><a href="#">Objectives</a></li>
                                                                <li><a href="#">Organizational Chart</a></li>
                                                                <li><a href="#">Activities</a></li>
                                                                <li><a href="#">Future Plan</a></li>
                                                            </ul>
                                                        </li>
                                                        <li class="dropdown">
                                                            <a href="#">Projects</a>
                                                            <ul>
                                                                <li><a href="#">Laboratory</a></li>
                                                                <li><a href="#">KGCMP</a></li>
                                                                <li><a href="#">System Audit</a></li>
                                                                <li><a href="#">Mineral Exploration</a></li>
                                                                <li><a href="#">Geo - Parks</a></li>

                                                            </ul>
                                                        </li>
                                                        <li class="dropdown">
                                                            <a href="#">At Your Service</a>
                                                            <ul>
                                                                <li><a href="#">Testing Rates</a></li>
                                                                <li><a href="#">Registration</a></li>
                                                                <li><a href="#">Reports</a></li>
                                                                <li class="dropdown">
                                                                    <a href="#">Opportunities</a>
                                                                    <ul>
                                                                        <li><a href="#">Testing Rates</a></li>
                                                                        <li><a href="#">Registration</a></li>
                                                                        <li><a href="#">Reports</a></li>
                                                                        <li class="dropdown">
                                                                            <a href="#">Opportunities</a>
                                                                            <ul>
                                                                                <li><a href="#">Testing Rates</a></li>
                                                                                <li><a href="#">Registration</a></li>
                                                                                <li><a href="#">Reports</a></li>
                                                                                <li><a href="#">Opportunities</a></li>
                                                                            </ul>
                                                                        </li>
                                                                    </ul>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                        <li class="dropdown">
                                                            <a href="#">Media Corner</a>
                                                            <ul>
                                                                <li><a href="#">Photo Gallery</a></li>
                                                                <li><a href="#">Video Gallery</a></li>
                                                                <li><a href="#">News & Events</a></li>
                                                                <li><a href="#">Publication</a></li>
                                                            </ul>
                                                        </li>
                                                        <li class="dropdown">
                                                            <a href="#">E-Citizen</a>
                                                            <ul>
                                                                <li>
                                                                    <a href="#">
                                                                        Right to
                                                                        Information
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a href="#">Acts & Rules</a>
                                                                </li>

                                                                <li>
                                                                    <a href="#">
                                                                        Government
                                                                        Resolution
                                                                    </a>
                                                                </li>
                                                                <li><a href="#">FAQs</a></li>
                                                                <li><a href="#">Downloads</a></li>
                                                            </ul>
                                                        </li>
                                                        <li><a href="#">Contact Us</a></li> *@
                                                    </ul>
                                                </div>
                                            </div>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Header Main Area End Here -->
      
        @RenderBody()

        <!-- Footer -->
        <footer class="footer site-footer">
            <div class="pbmit-footer-widget-area">
                <div class="container">
                    <div class="row" id="dvFooter">
                        @* <div class="col-lg-4">
                            <div class="pbmit-first-widget pbmit-widget">
                                <div class="footer-logo">
                                    <h5>GUJARAT MINERAL RESEARCH & DEVELOPMENT SOCIETY</h5>
                                </div>
                                <p class="text">
                                    We are the leaders in the building industries and factories. We’re wordl
                                    wide. We never give up on the challenges.
                                </p>
                                <div class="pbmit-free-call-box">
                                    <i class="pbmit-base-icon-phone-call"></i>
                                    <div class="pbmit-call-text">
                                        Talk To Our Support
                                        <h3>079-23271010</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="pbmit-two-widget pbmit-widget">
                                <h2 class="widget-title">Importamt Links</h2>
                                <div class="menu-services-menu-container">
                                    <ul id="menu-services-menu_1" class="menu">
                                        <li id="menu-item-11" class="menu-item">
                                            <a href="#">Terms & Conditions</a>
                                        </li>
                                        <li id="menu-item-22" class="menu-item">
                                            <a href="#">Privacy Policy</a>
                                        </li>
                                        <li id="menu-item-33" class="menu-item">
                                            <a href="#">Copyright Policy</a>
                                        </li>
                                        <li id="menu-item-44" class="menu-item">
                                            <a href="#">Hyperlinking Policy</a>
                                        </li>
                                        <li id="menu-item-55" class="menu-item">
                                            <a href="#">Disclaimer</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="pbmit-two-widget pbmit-widget">
                                <h2 class="widget-title">Quick Links</h2>
                                <div class="menu-services-menu-container">
                                    <ul id="menu-services-menu_1" class="menu">
                                        <li id="menu-item-11" class="menu-item">
                                            <a href="#">Project</a>
                                        </li>
                                        <li id="menu-item-22" class="menu-item">
                                            <a href="#">Registration</a>
                                        </li>
                                        <li id="menu-item-33" class="menu-item">
                                            <a href="#">News</a>
                                        </li>
                                        <li id="menu-item-44" class="menu-item">
                                            <a href="#">Feedback</a>
                                        </li>
                                        <li id="menu-item-55" class="menu-item">
                                            <a href="#">Testing Rates</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="pbmit-three-widget pbmit-widget">
                                <h2 class="widget-title">Address</h2>
                                <div class="f-item address">
                                    <ul>
                                        <li>
                                            <i class="fas fa-map"></i>
                                            <p>
                                                <span>
                                                    Petrography & Mineral Chemistry Laboratory
                                                    Nr. P.D.P.U, near Solar Park
                                                    Puri Foundation, Raysan, Gandhinagar
                                                </span>
                                            </p>
                                        </li>
                                        <li>
                                            <i class="fas fa-envelope"></i>
                                            <p>
                                                <span>
                                                    <a href="mailto:exe@gujarat.gov.in,">exemple@gujarat.gov.in,</a>
                                                </span>
                                            </p>
                                        </li>
                                        <li>
                                            <i class="fas fa-mobile-alt"></i>
                                            <p> <span>079-23271010</span></p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div> *@
                    </div>
                </div>
            </div>
            <div class="pbmit-footer-widget-area-bottom">
                <div class="container-fluid">
                    <div class="pbmit-footer-widget-area-bottom-inner">
                        <div class="row align-items-center">
                            <div class="col-md-4">
                                <p>Copyright © 2025 Velzon, All Rights Reserved.</p>
                            </div>
                            <div class="col-md-4">
                                <div class="footer-cont">
                                    @{
                                        var UpdateDate = Functions.UpdateDate(LangId);
                                        if (!string.IsNullOrWhiteSpace(UpdateDate))
                                        {
                                            @Html.Raw(UpdateDate)
                                        }
                                    }
                                    Total Visitors : <span id="CounterVisitor">0</span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="text-right">
                                    <span >
                                        Design &amp; Developed By &nbsp;<a href="https://gil.gujarat.gov.in/" target="_blank" style="color: #b97c23">
                                            Gujarat
                                            Informatics Limited
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Footer End -->
    </div>

    <!-- Search Box Start Here -->
    <div class="pbmit-search-overlay">
        <div class="pbmit-icon-close"></div>
        <div class="pbmit-search-outer">
            <form class="pbmit-site-searchform" onsubmit="return GetSearch();">
                <input type="search" name="search" id="search" value=""
                       autocomplete="off" placeholder="Search Here"
                       onkeydown="if (event.key === 'Enter') { GetSearch(); }" autofocus>
                <button type="submit">
                    <i class="pbmit-base-icon-search-1"></i>
                </button>
            </form>
        </div>
    </div>
    <!-- Search Box End Here -->

    <!-- Javascript -->
    <script src="@Href("~/Users/js/jquery.min.js")"></script>
    <script src="@Href("~/Users/js/popper.min.js")"></script>
    <script src="@Href("~/Users/js/bootstrap.min.js")"></script>
    <script src="@Href("~/Users/js/jquery.waypoints.min.js")"></script>
    <!-- Magnific JS -->
    <script src="@Href("~/Users/js/jquery.fancybox.min.js")"></script>
    <script src="@Href("~/Users/js/jquery.appear.js")"></script>
    <script src="@Href("~/Users/js/owl.carousel.min.js")"></script>
    <script src="@Href("~/Users/js/scripts.js")"></script>
    <script src="@Href("~/Users/js/swiper.min.js")"></script>
    <script src="@Href("~/Users/js/main.js")"></script>
    <script src="@Href("~/Admin/js/Secure/aes.js")"></script>
    <script src="@Href("~/Admin/js/Secure/hash.js")"></script>
    <!-- Revolution Slider -->
    <script src="@Href("~/Admin/js/Common.js?dt="+@DateTime.Now.ToString("ddMMyyyyfffttfff"))"></script>
    <script src="@Href("~/Users/js/MainLayout.js")"></script>
    <script src="@Href("~/Admin/vendors/js/sweetalert2.min.js?dt="+DateTime.Now.ToString("ddMMyyyyfffttfff"))"></script>
   
    <script>
        var regexGlobalValidation = new RegExp(htmlDecode("@Functions.regGlobalValidation"));
        var regexName = new RegExp(htmlDecode("@Functions.regName"));
        var regexMobileNo = new RegExp(htmlDecode("@Functions.regMobileNo"));
        var regexPincode = new RegExp(htmlDecode("@Functions.regPincode"));
        var regexNumber = new RegExp(htmlDecode("@Functions.regNumber"));
        var regexEmail = new RegExp(htmlDecode("@Functions.regEmail"));
        var regexPassword = new RegExp(htmlDecode("@Functions.regPassword"));
        var regexURL = new RegExp(htmlDecode("@Functions.regURL"));
        var dateFormat = '@Functions.dateFormat';
        var allowModalOutsideClick = @Functions.allowModalOutsideClick.ToString().ToLower();
        var allowKeyboardInputOnTime = @Functions.allowKeyboardInputOnTime.ToString().ToLower();
        var allowKeyboardInputOnDate = @Functions.allowKeyboardInputOnDate.ToString().ToLower();
        var allowInspectElement = @Functions.allowInspectElement.ToString().ToLower();

    </script>

    @RenderSection("Scripts", required: false)

    <script type="text/javascript">
        function GetSearch() {
            var searchText = document.getElementById("search").value.trim();

            if (searchText === "") {
               
                return false; // Prevent form submission
            }

            // Construct the correct URL
            var searchUrl = window.location.origin + "/Search?serch=" + encodeURIComponent(searchText);

            // Redirect to the correct URL
            window.location.href = searchUrl;

            return false; // Prevent default form submission
        }

        $(document).ready(function () {
            $("input").on("paste", function () {
                var currentid = $(this).attr('id');
                setTimeout(function () {
                    var num = $('#' + currentid).val();
                    if (!regexGlobalValidation.test(num)) {
                        $('#' + currentid).val('');
                    }
                }, 100);
            });
        });
    </script>

    <script>
        $('#owl-carouselslick').owlCarousel({
            loop: true,
            margin: 30,
            dots: true,
            nav: true,
            items: 3,
        })
    </script>

    @*<script>
        Fancybox.bind('[data-fancybox="gallery"]', {
            Toolbar: {
                display: {
                    left: ["infobar"],
                    middle: [
                        "zoomIn",
                        "zoomOut",
                        "toggle1to1",
                        "rotateCCW",
                        "rotateCW",
                        "flipX",
                        "flipY",
                    ],
                    right: ["slideshow", "thumbs", "close"],
                },
            },
        });
    </script> *@
    <!-- Hidden Template Start -->
    @* <div id="dvHiddenTemplate">
    </div> *@
    <!-- Hidden Template End -->
    @{
        var getAlljsData = Functions.JSMasterDomain(Url);
        if (!string.IsNullOrWhiteSpace(getAlljsData))
        {
            @Html.Raw(getAlljsData)
        }
    }
</body>

</html>