@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model LoginViewModel
@{
    Layout = "";
    @removeTagHelper Microsoft.AspNetCore.Mvc.TagHelpers.FormTagHelper, Microsoft.AspNetCore.Mvc.TagHelpers
}
<!doctype html>
<html lang="en" data-layout="vertical" data-topbar="light" data-sidebar="dark" data-sidebar-size="lg" data-sidebar-image="none" data-preloader="disable">
<head>
    <meta charset="utf-8" />
    <title>@(ViewData["Title"] ?? "Auth")</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="Multipurpose Admin & Dashboard Template.">
    <meta name="keywords" content="Multipurpose Admin & Dashboard Template">
    <meta name="author" content="GIL">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <!-- App favicon -->
    <link rel="shortcut icon" href="@Href("~/Admin/images/favicon.ico")">

    <!-- Layout config Js -->
    <script src="@Href("~/Admin/js/layout.js")"></script>
    <!-- Bootstrap Css -->
    <link href="@Href("~/Admin/css/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="@Href("~/Admin/css/icons.min.css")" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="@Href("~/Admin/css/app.min.css")" rel="stylesheet" type="text/css" />
    <!-- custom Css-->
    <link href="@Href("~/Admin/css/custom.min.css")" rel="stylesheet" type="text/css" />
    <!-- sweetalert Css-->
    <link href="@Href("~/Admin/libs/sweetalert2/sweetalert2.min.css")" rel="stylesheet" type="text/css" />
    @RenderSection("Styles", required: false)
</head>

<body>

    <div class="auth-page-wrapper pt-5">
        <!-- auth page bg -->
        <div class="auth-one-bg-position auth-one-bg" id="auth-particles">
            <div class="bg-overlay"></div>

            <div class="shape">
                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1440 120">
                    <path d="M 0,36 C 144,53.6 432,123.2 720,124 C 1008,124.8 1296,56.8 1440,40L1440 140L0 140z"></path>
                </svg>
            </div>
        </div>

        @RenderBody()

        <!-- footer -->
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center">
                            <p class="mb-0 text-muted">Copyright &copy;
                                <script>document.write(new Date().getFullYear())</script> Velzon, All Rights Reserved.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- end Footer -->
    </div>
    <!-- end auth-page-wrapper -->

    <script>
        var baseUrl = "@Url.Content("~/")";
    </script>
    <!-- JAVASCRIPT -->
    <script src="@Href("~/Admin/libs/bootstrap/js/bootstrap.bundle.min.js")"></script>
    <script src="@Href("~/Admin/libs/simplebar/simplebar.min.js")"></script>
    <script src="@Href("~/Admin/libs/node-waves/waves.min.js")"></script>
    <script src="@Href("~/Admin/libs/feather-icons/feather.min.js")"></script>
    <script src="@Href("~/Admin/js/pages/plugins/lord-icon-2.1.0.js")"></script>
    <script src="@Href("~/Admin/libs/sweetalert2/sweetalert2.min.js")"></script>
    <script src="@Href("~/Admin/js/plugins.js")"></script>
    <script src="@Href("~/Admin/js/jquery.min.js")"></script>
    <!-- particles js -->
    <script src="@Href("~/Admin/libs/particles.js/particles.js")"></script>
    <!-- particles app js -->
    <script src="@Href("~/Admin/js/pages/particles.app.js")"></script>
    <!-- password-addon init -->
    <script src="@Href("~/Admin/js/pages/password-addon.init.js")"></script>
    <!-- BEGIN PAGE LEVEL JS-->
    <script src="@Href("~/Admin/js/secure/aes.js")"></script>
    <script src="@Href("~/Admin/js/secure/hash.js")"></script>
    <script src="@Href("~/Admin/js/Common.js")"></script>
    <script>
        var regexGlobalValidation = new RegExp(htmlDecode("@Functions.regGlobalValidation"));
        var regexName = new RegExp(htmlDecode("@Functions.regName"));
        var regexMobileNo = new RegExp(htmlDecode("@Functions.regMobileNo"));
        var regexPincode = new RegExp(htmlDecode("@Functions.regPincode"));
        var regexNumber = new RegExp(htmlDecode("@Functions.regNumber"));
        var regexEmail = new RegExp(htmlDecode("@Functions.regEmail"));
        var regexPassword = new RegExp(htmlDecode("@Functions.regPassword"));
        var regexURL = new RegExp(htmlDecode("@Functions.regURL"));
        var dateFormat = '@Functions.dateFormat';
        var allowModalOutsideClick = @Functions.allowModalOutsideClick.ToString().ToLower();
        var allowKeyboardInputOnTime = @Functions.allowKeyboardInputOnTime.ToString().ToLower();
        var allowKeyboardInputOnDate = @Functions.allowKeyboardInputOnDate.ToString().ToLower();
        var allowInspectElement = @Functions.allowInspectElement.ToString().ToLower();
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>