@model UserMasterFormModel
@{
    ViewData["Title"] = "User Master";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    var rightsModel = Functions.GetPageRightsCheck(Context.Session);
}

@section DataTableCssLoad {}
@section DataTableJsLoad {}
@section Scripts {
    <script src="@Href("~/Admin/js/pagedetails/usermaster/usermaster.js?dt="+DateTime.Now.ToString("ddMMyyyyfffttfff"))"></script>
}

@section Modals {
    <div id="addeditUserModal" class="modal fade" tabindex="-1" aria-labelledby="mdlLabel" style="display: none;">
        <div class="modal-dialog modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header bg-light p-3">
                    <h5 class="modal-title" id="mdlLabel">User Form</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="addeditUserForm" action="@Url.Content("~/Admin/SaveUserData")" autocomplete="off">
                        @Html.AntiForgeryToken()
                        <input type="hidden" asp-for="Id" />
                        <div class="row">
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label asp-for="FirstName" class="form-label">First Name</label>
                                    <input type="text" asp-for="FirstName" class="form-control" placeholder="Enter First Name">
                                    <span asp-validation-for="FirstName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label asp-for="LastName" class="form-label">Last Name</label>
                                    <input type="text" asp-for="LastName" class="form-control" placeholder="Enter Last Name">
                                    <span asp-validation-for="LastName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label asp-for="Username" class="form-label">User Name</label>
                                    <input type="text" asp-for="Username" class="form-control" autocomplete="off" placeholder="Enter User Name">
                                    <span asp-validation-for="Username" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label asp-for="UserPassword" class="form-label">User Password</label>
                                    <input type="password" asp-for="UserPassword" autocomplete="off" class="form-control validpassword" placeholder="Enter User Password">
                                    <span asp-validation-for="UserPassword" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label asp-for="Email" class="form-label">Email</label>
                                    <input type="email" asp-for="Email" class="form-control" placeholder="Enter Email">
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label asp-for="PhoneNo" class="form-label">Mobile No</label>
                                    <input type="text" asp-for="PhoneNo" class="form-control" placeholder="Enter Mobile No">
                                    <span asp-validation-for="PhoneNo" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label asp-for="RoleId" class="form-label">Role</label>
                                    <select class="form-select" data-choices asp-for="RoleId" asp-items="@(new SelectList(Model.RoleList, "Value", "Text"))">
                                        <option value="">--Select Role--</option>
                                    </select>
                                    <span asp-validation-for="RoleId" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label asp-for="RoleId" class="form-label">Status</label>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" asp-for="IsActive" />
                                    <label class="form-check-label" for="IsActive">Is Active</label>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="addeditUserSubmit">Save Changes</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
}

<input type="hidden" id="frmPageUpdate" value="@rightsModel.Update.ToString().ToLower()" />
<input type="hidden" id="frmPageDelete" value="@rightsModel.Delete.ToString().ToLower()" />

<div class="row">
    <div class="col-lg-12">
        <div class="card" id="customerList">
            <div class="card-header border-bottom-dashed">
                <div class="row g-4 align-items-center">
                    <div class="col-sm">
                        <div>
                            <h5 class="card-title mb-0">User List</h5>
                        </div>
                    </div>
                    <div class="col-sm-auto">
                        <div class="d-flex flex-wrap align-items-start gap-2">
                            <button class="btn btn-soft-danger" id="remove-actions" onclick="deleteMultiple()"><i class="ri-delete-bin-2-line"></i></button>
                            <button type="button" class="btn btn-success add-btn" id="addUser"><i class="ri-add-line align-bottom me-1"></i> Add New User</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table class="table table-bordered nowrap table-striped align-middle" id="datatableUser" data-url="@Url.Content("~/Admin/GetUserData")">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>User Name</th>
                            <th>Email</th>
                            <th>Mobile No</th>
                            <th>Role Name</th>
                            <th>Is Active</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                </table>
            </div><!-- end card -->
        </div>
        <!-- end col -->
    </div>
    <!-- end col -->
</div>